<h1>Crear nueva lista</h1>

<%= form_with model: @list, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <%= form.submit "Crear lista", class: "btn btn-primary" %>
<% end %>

<%= link_to "Volver", root_path, class: "btn btn-secondary" %>
