<h1><%= @list.name %></h1>

<h2>Películas en esta lista:</h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong><%= bookmark.movie.title %></strong> - <%= bookmark.comment %> -  <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
      <%= link_to "Eliminar", bookmark_path(bookmark),
            data: { turbo_method: :delete, turbo_confirm: "¿Seguro que quieres eliminar este bookmark?" },
            class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>

<%= link_to "Agregar película", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<%= link_to "Volver a listas", root_path, class: "btn btn-secondary" %>

